<app-navbar></app-navbar>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white" style="margin-top: -53px;">
    <div class="w3-display-middle">
        <h1 id="homeHeader" class="w3-jumbo w3-animate-top">Gestor hotelero</h1>
        <hr class="w3-border-green" style="margin: auto;">
        <p class="w3-large w3-center pt-2" *ngIf="!token">
            <button routerLink="/login" type="button" class="btn btn-lg btn-outline-light m-1"
                style="width: 150px;">Inicia sesión</button>
            <button routerLink="/register" type="button" class="btn btn-lg btn-outline-light m-1"
                style="width: 150px;">Registrarse</button>
        </p>
        <hr class="w3-border-green" style="margin: auto;">
        <p class="w3-large w3-center pt-2" *ngIf="!token">
            <button routerLink="/no-register/viewHotels" type="button" class="btn btn-lg btn-outline-light m-1"
                style="width: 200px;">Explorar hoteles</button>
        </p>

        <p class="w3-large w3-center pt-2" *ngIf="token && userData.role == 'CLIENT'">
            <button routerLink="/viewHotels" type="button" class="btn btn-lg btn-outline-light m-1"
                style="width: 150px;">Hoteles</button>
            <button routerLink="/myReserve" type="button" class="btn btn-lg btn-outline-light m-1" style="width: 175px;">Mi
                reservación</button>
        </p>

        <p class="w3-large w3-center pt-2" *ngIf="token && userData.role == 'HOTELADMIN'">
            <button routerLink="/controlPanelHotels" type="button" class="btn btn-lg btn-outline-light m-1"
                style="width: 200px;">Panel de control</button>
        </p>

        <p class="w3-large w3-center pt-2" *ngIf="token && userData.role == 'ADMIN'">
            <button routerLink="/admin/users" type="button" class="btn btn-lg btn-outline-light m-1"
                style="width: 150px;">Administrar usuarios</button>
            <button routerLink="/admin/hotels" type="button" class="btn btn-lg btn-outline-light m-1"
                style="width: 150px;">Administrar hoteles</button>
        </p>

    </div>
</div>