<app-navbar></app-navbar>

<div class="text-center m-3">
    <div class="input-group mx-auto m-1" style="min-width: 115.7px; width: 15vw;">
        <input [(ngModel)]="searchHotel" type="text" class="form-control" placeholder="Buscar hotel"
            aria-describedby="btnSearch">
    </div>
</div>

<hr>

<div class="d-flex flex-column">
    <div *ngFor="let hotel of hotels | searchHotel:searchHotel" class="card mb-3 mx-auto" style="max-width: 60%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img *ngIf="hotel.hasOwnProperty('image') == false"
                    src="../../../../assets/dummy_2000x1500_ffffff_cccccc_-no-image.jpg" class="img-fluid rounded">
                <img *ngIf="hotel.image" src="http://localhost:3200/hotel/getImageHotel/{{ hotel.image }}"
                    crossorigin="anonymous" class="img-fluid rounded" style="height: 100%;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title h2 mb-0">{{ hotel.name }}</h5>
                    <div class="card-text"> Teléfono: {{ hotel.phone }}</div>
                    <div class="card-text">Dirección: {{ hotel.address }}</div>

                    <hr>

                    <div class="d-flex justify-content-center flex-wrap m-1">
                        <button (click)="getRoomsClient(hotel._id)" class="btn btn-primary m-1 px-4 btn-sm"
                            data-bs-toggle="modal" data-bs-target="#modalGetRooms">Habitaciones</button>
                        <button (click)="getServicesClient(hotel._id)" class="btn btn-primary m-1 px-4 btn-sm"
                            data-bs-toggle="modal" data-bs-target="#modalGetServices">Servicios</button>
                        <button (click)="getEventsClient(hotel._id)" class="btn btn-primary m-1 px-4 btn-sm"
                            data-bs-toggle="modal" data-bs-target="#modalGetEvents">Eventos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGetRooms" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div *ngIf="roomsLenght == 0" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Habitaciones</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">Lo sentimos, este hotel no cuenta con habitaciones actualmente :(</h2>
            </div>
        </div>
        <div *ngIf="roomsLenght > 0" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Habitaciones</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <button class="btn btn-secondary m-1" (click)="toggleSearch()">
                        {{ labelFilter }}
                    </button>

                    <div class="mx-auto m-1" style="min-width: 115.7px; width: 15vw;">
                        <input [(ngModel)]="searchRoom" type="text" class="form-control"
                            placeholder="Buscar habitación">
                    </div>
                </div>

                <hr>

                <div class="row justify-content-center px-4">
                    <div *ngFor="let room of rooms | searchRoom:searchRoom" class="card m-2" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{ room.name }}</h4>
                            <hr>
                            <h5 class="card-title">Q{{ room.price }} por día</h5>
                            <p class="card-subtitle mb-2">{{ room.description }}</p>
                            <p *ngIf="room.available == true" class="card-subtitle mb-2 text-success">
                                Disponible</p>
                            <p *ngIf="room.available == false" class="card-subtitle mb-2 text-danger">
                                No disponible</p>
                            <p *ngIf="room.available == false" class="card-subtitle mb-2">
                                Disponible hasta: {{ room.dateAvailable }}
                            </p>

                            <div class="btn-group d-flex" role="group">
                                <button (click)="getRoomId(room._id)" *ngIf="room.available == true"
                                    class="btn flex-grow-1 btn-success" data-bs-toggle="modal"
                                    data-bs-target="#modalReserveRoom">Reservar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReserveRoom" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Realizar reservación</h5>
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#modalGetRooms"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Precio total (Q)</label>
                    <input [(ngModel)]="price" name="previewPrice" type="number" class="form-control" disabled>
                </div>
                <form #reserveForm="ngForm" (ngSubmit)="reserveRoom(reserveForm)">
                    <div class="mb-3">
                        <label class="form-label">Fecha de inicio</label>
                        <input [(ngModel)]="reserve.startDate" name="startDate" type="date" class="form-control"
                            min="{{ today }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fecha de inicio</label>
                        <input [(ngModel)]="reserve.endDate" name="endDate" type="date" class="form-control"
                            min="{{ today }}">
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#modalGetRooms">Descartar</button>
                        <button (click)="calculatePrice()" type="button" class="btn btn-primary">Calcular</button>
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Reservar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGetServices" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div *ngIf="servicesLenght == 0" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Servicios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">Lo sentimos, este hotel no cuenta con servicios actualmente :(</h2>
            </div>
        </div>
        <div *ngIf="servicesLenght > 0" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Servicios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="mx-auto m-1" style="min-width: 115.7px; width: 15vw;">
                        <input [(ngModel)]="searchService" type="text" class="form-control"
                            placeholder="Buscar servicio">
                    </div>
                </div>

                <hr>

                <div class="row justify-content-center px-4">
                    <div *ngFor="let service of services | searchService:searchService" class="card m-2"
                        style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{ service.name }}</h4>
                            <hr>
                            <h5 class="card-title">Q{{ service.price }}</h5>
                            <p class="card-subtitle mb-2">{{ service.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGetEvents" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div *ngIf="eventsLenght == 0" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eventos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">Lo sentimos, este hotel no cuenta con eventos actualmente :(</h2>
            </div>
        </div>
        <div *ngIf="eventsLenght > 0" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eventos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="mx-auto m-1" style="min-width: 115.7px; width: 15vw;">
                        <input [(ngModel)]="searchEvent" type="text" class="form-control" placeholder="Buscar evento">
                    </div>
                </div>

                <hr>

                <div class="row justify-content-center px-4">
                    <div *ngFor="let event of events | searchEvent:searchEvent" class="card m-2" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{ event.name }}</h4>
                            <hr>
                            <h5 class="card-title">Categoria: {{ event.category }}</h5>
                            <h5 class="card-title">Fecha: {{ event.dateEvent }}</h5>
                            <p class="card-subtitle mb-2">{{ event.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>