.img-fluid {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover) {
    .img-fluid {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.bg {
    background: rgb(208, 218, 224);
    background: linear-gradient(171deg, rgba(208, 218, 224, 1) 0%, rgba(226, 235, 240, 1) 100%);
    min-height: 92.9vh;
    max-height: 100000%;
}